
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: netflix-clone-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    # Add any other necessary annotations for your Ingress controller
spec:
  rules:
  - host: "devopsmonk.mooo.com"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: netflix-clone-service  # The name of your service
            port:
              number: 80  # The port your service is exposed on
  # Uncomment the following section if you have TLS set up
  # tls:
  # - hosts:
  #   - "rajini.chickenkiller.com"
  #   secretName: rajini-chickenkiller-com-tls  # The TLS secret containing your cert and key
